{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <br>
        <div class="card" style="width:60%;">
          <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Uploaded on {{image.created_at}} by {{image.user}}</h5>
            <p class="card-text">{{image.description}}</p>
            {% if user.is_authenticated and user == image.user%}
                <a href="{% url 'images:delete' pk=image.id %}" class="btn btn-default">Delete Image</a>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
